# Housing-in-Mexico
Starter notebook for the Housing-in-Mexico project.

In [2]:
!pip install openpyxl
import pandas as pd

# Load the data
data_path = '../data/raw/housing_data.xlsx'  # relative path from notebooks folder
df = pd.read_excel(data_path)

# Quick check
df.head()

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]━━ 1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

,City,Single family,Condo or co-op,All homes,Household income,Unemployment,Population
0,"Atlanta, GA",403000,298000,317000,55279,8.5,498044
1,"Minneapolis, MN",331000,291000,323000,58993,7.5,425403
2,"Cincinatti, OH",208000,211000,191000,38545,10.1,302605
3,"San Diego, CA",829000,536000,725000,75456,8.8,1426000
4,"Reno, NV",450000,247000,441000,54916,6.9,250998